attrs==26.1.0
cdsapi==0.7.7
certifi==2026.4.22
charset-normalizer==3.4.7
ecmwf-datastores-client==0.5.1
idna==3.15
multiurl==0.3.7
python-dateutil==2.9.0.post0
pytz==2026.2
requests==2.34.2
six==1.17.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.7.0